@mixin principal-color {
  background-color: #DF6C1B;
  color: #FFF;
  font-family: verdana;
}

@mixin secondary-color {
  background-color: #F0EECE;
  color: #8B7A85;
  font-family: verdana;
}

@mixin tertiary-color {
  background-color: #8B7A85;
  color: #FFF;
  font-family: verdana;
}

@mixin font-form {
  font-family: verdana;
  font-size: 12px;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #F2D283;
  font-family: verdana;
  }
  nav {
    width: 100%;
    height: 50px;
    @include principal-color;
    padding: 10px 20px;
    margin-bottom: 25px;
    h2 {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }
  }
  
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin: 70px 0 70px 0;
  }
  
  .mainText {
    width: 40%;
    height: 400px;
    @include tertiary-color;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-weight: 200;
    box-sizing:border-box;
    h1 {
     font-size: 25px; 
    } 
    h3 {
     font-size: 17px; 
    }
    p {
     font-size: 13px; 
    }  
  }
  
  .mainImg {
    width: 40%;
    height: 400px; 
    overflow: hidden;
    img {
      width: 100%;
       height: auto;
      background-size: cover;
      position: relative;
    top: -50%;
    }
  }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
   text-align: start;
  margin: 20px;
  @include font-form;
    fieldset {
    border: none;
      margin: 10px;
      legend {
        margin: 5px 0 5px 0;
        font-weight: bold;
      }
  }

}
  
  .todasLasCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 15% 15px 15%;
    
  }
  
  .card {
    width: 400px;
    height: 200px;
    @include secondary-color;
    display: flex;
    margin: 25px;
    box-sizing:border-box;
    transition: all 0.4s;
    .imagen {
      width: 200px;
      height: 200px; 
      overflow: hidden;
      img {
        width: 100%;
        transition: all 1s;
      }
    }
    .texto {
      width: 200px;
      padding: 20px;
      box-sizing: border-box;
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
      }
      .botonVerMas {
        display: flex;
        justify-content: flex-start;
        .abrirModal {
        width: 80px;
        padding: 3px;
        border: 0px;
        @include principal-color;
        font-size: 11px;
        border-radius: 5px; 
        margin-top: 5px;
      }
    }
  }
  
  .card:hover {
    @include principal-color;
    .abrirModal {
      @include secondary-color;
    }
  }
  
  .card:hover {
    img {
        transform : scale(1.1);
        }
    }

  
  .modal {
    width: 800px;
    height: 400px;
    background-color: #FFF; 
    box-shadow: 10px 14px 18px -1px rgba(122,122,122,0.49);
    margin-right: 25%;
    margin-left: 25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 150px;
    padding: 15px;
    .cardModal {
      display: flex;
      padding: 15px;
      box-sizing: box-border;
    
    .imagenModal {
    width: 300px;
    height: 300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
      .textoModal {
        padding: 0 15px 0 15px;
        width: 300px;
        height: 300px;
        font-family: verdana;
        h2 {
      font-size: 25px;
          color: #8B7A85;
        }
        h3 {
          font-size: 15px;
          color: #DF6C1B;
        }
        p {
          font-size: 13px;
          color: #000;
        }
    }
        .cerrarModal {
        width: 25px;
        height: 25px;
        padding: 3px;
        border: 0px;
        background-color: #FFF;
        color: #000;
        border: 1px solid #000;
        font-family: tahoma;
        font-size: 16px;
        margin-top: 5px;
      }  
   }
  }

  
  .noMostrar {
    display: none;
  }
  
  footer {
    width: 100%;
    height: 150px;
    @include principal-color;
  }
